body {
	background:#000;
}

.backstretch {
	display:none;
}

#chat {
	left:330px;
}

.display-room-users {
	display:none;
}

#chat .chat_tools {
	border:0;
	top:-73px;
	left:-230px;
}

#main-room .right_section {
	z-index:100;
}

