#main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username:after {
	content:""!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.mod p.username:after {
	content:""!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.currentDJ p.username:after {
	content:""!important;
	display:none;
}

#main_avatar_room #main-user-list-room #avatar-list li.admin p.username:after {
	content:""!important;
	display:none;
}

#main_avatar_room #main-user-list-room #avatar-list li.manager p.username:after {
	content:""!important;
}


#main_avatar_room #main-user-list-room #avatar-list li .user-role-icon {
	display:none !important;
}

#main_avatar_room #main-user-list-room #avatar-list li.mod .user-role, #main_avatar_room #main-user-list-room #avatar-list li.mod .username {
    color: #3083FF;
    font-weight: bold;
}

#chat .chat-container .chat-messages .chat-main li.mod .user-role, #chat .chat-container .chat-messages .chat-main li.mod .username {
    color: #3083DA;
}

